{% extends 'layout.twig' %}

{% block title "Wallets" %}

{% block scripts %}

    <script src="/assets/js/wallet.js"></script>
{% endblock %}

{% block body %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td>Id</td>
            <td>Nom</td>
            <td>Type</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td>{{ wallet.id }}</td>
                <td>{{ wallet.name }}</td>
                <td>{{ wallet.type }}</td>
                <td><a data-route="{{ url_for('wallets.delete', { 'id': wallet.id }) }}" href="#"
                       class="delete-wallet text-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('wallets.create_form') }}"> Ajouter un nouveau Portefeuille </a>

{% endblock %}